<div class="container-frontend">

    <section>
        <div class="frontend">
            <div class="angular-banner">
                <section>
                    <img src="assets/img/a.gif" alt="angular" class="angular-gif">
                </section>
                <section>
                    <h3>Angular</h3>
                    <p>+2 years work with this framework, experience in marketplaces and API's consumption </p>
                </section>
            </div>
            <div class="apis">
                <h3> API's</h3>
                <a href="https://99minutos.com" target="_blank">
                    <p>&nbsp; - 99 minutos</p>
                </a>
                <a href="https://enviaya.com.mx" target="_blank">
                    <p>&nbsp; - EnvíaYa!</p>
                </a>
                <a href="https://www.mercadopago.com.mx" target="_blank">
                    <p>&nbsp; - Mercado Pago</p>
                </a>
                <a href="https://www.paypal.com/mx/home" target="_blank">
                    <p>&nbsp; - Pay pal</p>
                </a>
            </div>
            <div class="cms">
                <h3> CMS</h3>
                <p> Manage data and get charts, pefect to bussines </p>
            </div>
        </div>


    </section>


</div>
