<div class="container-strengths">

    <section class="strengths">
        <section>
            <h1>Frendly teamate</h1>
            <p> Like real pro gamers, teamplay lead the win, agile teams are my speciality</p>
        </section>
        <section>
            <h1>Flexibility</h1>
            <p>I don't stick to roles, learning new skills is my hobby</p>
        </section>
        <section>
            <h1>Communication</h1>
            <p>I learned to give easy explanations to clients, solutions to bosses and direct questions to technicians. </p>
        </section>
    </section>
</div>
