<div class="contact-container">
    <a href="https://www.instagram.com/conejo_cyberpunk/" target="_blank">
        <section>

            <img src="assets/img/i.png" alt="Instagram" class="img" id="contact">
            <p>@conejo_cyberpunk</p>

        </section>
    </a>

    <section>
        <img src="assets/img/c.png" alt="e-mail" class="img">
        <p class="email">cristopher_rivas@outlook.es</p>
    </section>

    <a href="https://wa.me/qr/LOTO3D6UHVZ3J1">
        <section>
            <img src="assets/img/w.gif" alt="WhatsApp/Telegram" class="img">
            <p>(+52) 2214435325</p>
        </section>
    </a>
</div>
