<div class="container-backend">
    <section>
        <h1>Backend </h1>
    </section>
    <section class="backend-grid">
        <section class="tools">
            <div class="tool">
                <span class="tool-node">Node.js</span>
            </div>
            <div class="tool">
                <span class="tool-express">Express</span>
            </div>
            <div class="tool">
                <span class="tool-mongo">MongoDB</span>
            </div>
        </section>
        <section>
            <h2>Rest-API</h2>
            <p>&nbsp; -Marketplace</p>
            <p>&nbsp; -Data analisis</p>
            <p>&nbsp; -KPI's</p>
            <p>&nbsp; -Reports</p>

        </section>
    </section>
    <section></section>
</div>
