<div class="container-backend">

    <section class="backend-grid">
        <section class="tools">
            <div class="tool">
                <img src="assets/img/n.gif" alt="angular" class="gif">
                <span class="tool-node">Node.js</span>
            </div>
            <div class="tool">
                <img src="assets/img/e.gif" alt="Express" class="gif">
                <span class="tool-express">Express</span>
            </div>
            <div class="tool">
                <img src="assets/img/m.gif" alt="Mongo DB" class="gif">
                <span class="tool-mongo">MongoDB</span>
            </div>
        </section>
        <section>
            <h2>Rest-API</h2>
            <p>&nbsp; -Marketplace</p>
            <p>&nbsp; -Data analisis</p>
            <p>&nbsp; -KPI's</p>
            <p>&nbsp; -Reports</p>

        </section>
    </section>

</div>
