<swiper class="banner" [loop]="true" [slidesPerView]="1" [spaceBetween]="50" [pagination]="{ clickable: true }">

    <ng-template swiperSlide class="swiper-slide">
        <app-intro></app-intro>
    </ng-template>
    <ng-template swiperSlide class="swiper-slide">
        <app-ux></app-ux>
    </ng-template>
    <ng-template swiperSlide class="swiper-slide">
        <app-ui></app-ui>
    </ng-template>
    <ng-template swiperSlide class="swiper-slide">
        <app-frontend></app-frontend>
    </ng-template>
    <ng-template swiperSlide class="swiper-slide">
        <app-backend></app-backend>
    </ng-template>
    <ng-template swiperSlide class="swiper-slide">
        <app-prod></app-prod>
    </ng-template>
    <ng-template swiperSlide class="swiper-slide">
        <app-strengths></app-strengths>
    </ng-template>
    <ng-template swiperSlide class="swiper-slide">
        <app-more></app-more>
    </ng-template>
</swiper>
