<div class="container-intro">
    <section></section>
    <section>
        <div class="profile">
            <div class="boy">
                <img src="assets/img/cris.png" alt="Cristopher Rivas" class="boy-img">
            </div>
        </div>
        <div class="text">
            <div class="text-name">
                <h1 class="name">
                    Cristopher <br> Rivas
                </h1>
            </div>
        </div>
        <div class="swipe-frame">
            <img src="assets/img/s.svg" alt="swipe" class="scroll">
            <img src="assets/img/s.svg" alt="swipe" class="swipe">
        </div>
    </section>
    <section></section>
</div>
