<div class="container-prod">
    <section class="prod-grid">
        <section class="git">
            <section class="git-cat">
                <img src="assets/img/g.gif" alt="Git cat">
            </section>
            <section class="git-hub">
                <h2>Git & GitHub</h2>
                <p> Real projects need GIT versions</p>
            </section>
        </section>

        <section>
            <h2> Deploy <br>&nbsp;<br></h2>
            <p>&nbsp; -AWS</p>
            <p>&nbsp; -Heroku</p>
            <p>&nbsp; -GitHub Pages</p>
            <p>&nbsp; -Generic server</p>
        </section>

    </section>


</div>
