.prod {
    margin-top: 30px;
    font-size: 3rem;
    text-align: center;
}

.container-prod {
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}

.prod-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 3fr;
}

.git {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.git .git-cat img {
    width: 100%;
}

@media screen and (min-width: 40em) {
    .container-prod {
        padding: 10px;
        display: grid;
        grid-template-rows: 100px 1fr 30px;
        height: 100%;
        width: 800px;
        margin: auto;
    }
    .git .git-cat img {
        width: 100px;
    }
}
