<div class="container-ux">
    <h1>UX</h1>
    <div class="design-thinking">
        <section>
            <h3> Design thinking </h3>
            <p>Fall in love with the problem, not the solution</p>
        </section>
    </div>
    <div class="user-persona">
        <section></section>
        <section>
            <h3> User persona & journey</h3>
            <p>People are the real core of projects, diversity and inclusion are the key </p>
        </section>
    </div>
    <div class="wireframes">
        <section>
            <h3>Wireframes</h3>

            <p>Less is more, prototypes lead to better sprints</p>
        </section>
    </div>
</div>
