<div class="container-ux">

    <div class="design-thinking">
        <section>
            <h1> Design thinking
            </h1>
            <p>Fall in love with the problem, not the solution</p>
        </section>
    </div>
    <div class="user-persona">
        <section></section>
        <section>
            <h1> User persona & journey</h1>
            <p>People are the real core of projects, diversity and inclusion are the key </p>
        </section>
    </div>
    <div class="wireframes">
        <section>
            <h1>Wireframes</h1>

            <p>Less is more, prototypes lead to better sprints</p>
        </section>
    </div>
</div>